*/fsh-generated
*/input-cache
*/output
*/temp
*/template
*/_build*
*/_gencontinuous*
*/_preprocessed
*/_genonce.bat
*/_updatePublisher*
/.vs

_build.bat
_build.sh
_gencontinuous.bat
_gencontinuous.sh
_genonce.bat
_genonce.sh
_updatePublisher.bat
_updatePublisher.sh
fsh-generated/
input-cache/
output
temp
template